#head{
height:70px;
background-color:#00BFFF;
padding:5px;
}

#bar{
padding:5px;
float:left;
width:200px;
height:350px;
background-color:#FFE4C4;
margin-right:5px;
}

#center{
padding:5px;
}

#footer{
padding:5px;
background-color:#ccc;
}